.message-info
  .message-info__name
    = message.user.name
  .message-info__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
- if message.body.present?
  %p.message
    = message.body
= image_tag message.image.url if message.image.present?
