
.wrapper

  =render partial: "layouts/leftbox"

  .right-box
    .right-head
      .group-info
        %p.group-info__title hogetaro
        %ul.group-info__menbers
          %li hogetaro
      .group-edit
        .group-edit__btn Edit

    .right-body
      .messages
        .message-info
          .message-info__name hogetaro
          .message-info__date 2019/01/01
        %p.message hogehogehoge

      .messages
        .message-info
          .message-info__name hogetaro
          .message-info__date 2019/01/01
        %p.message hogehogehoge

      .messages
        .message-info
          .message-info__name hogetaro
          .message-info__date 2019/01/01
        %p.message hogehogehoge

      .messages
        .message-info
          .message-info__name hogetaro
          .message-info__date 2019/01/01
        %p.message hogehogehoge

    .form
      %form{class: "input"}
        .input-box
          %input{placeholder: "type a message", type: "text", class: "input-box__text"}
          %label.input-box__image
            =fa_icon "image"
            %input{class: "input-box__image__file", type: "file"}
        %input{type: "submit", class: "submit-btn", value: "SEND"}
